*{
  font-size: 12px;
}
canvas {
  display: block;
  margin: 0 auto;
}

body {
  background: radial-gradient(#C6C3C3, #434241, #0B0B0B);
}

#btc {
  width: 150px;
  height: 150px;
}
#eth {
  width: 150px;
  height: 150px;
}
#ltc {
  width: 150px;
  height: 150px;
}
#xmr {
  width: 150px;
  height: 150px;
}
#ada {
  width: 150px;
  height: 150px;
}
#eos {
  width: 150px;
  height: 150px;
}
#xrp {
  width: 150px;
  height: 150px;
}
#xem {
  width: 150px;
  height: 150px;
}
#neo {
  width: 150px;
  height: 150px;
}
#xlm {
  width: 150px;
  height: 150px;
}


#startBtn {
  display: inline-block;
  margin-top: 500px;
  height: 75px;
  width: 400px;
}

.ui {
  height: 800px;
  width: 1200px;
  margin: 0 auto;
  background-color: blue;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.center {
  justify-content: center;
}

.center li {
  background: deepskyblue;
  text-align: center;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#startBtn {
  font-size: 30px;
  font-weight: bold;
}
